/*---------------------------------------------------------------------
    Basic CSS Reset to give us a clean starting point
    Based closely on https://github.com/jgthms/minireset.css
    with ideas from https://www.joshwcomeau.com/css/custom-css-reset/
  ---------------------------------------------------------------------*/

/* Size block borders logically */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Set a base text size. All other text defined in REMs */
html {
    font-size:   16px;
    line-height: 1.5;
}

/* Clear gaps between and within blocks */
* {
    margin:  0;
    padding: 0;
}

/* Force full-height body */
html,
body {
    min-height: 100vh;
}

/* Clear default list styling */
ol,
ul {
    list-style: none;
}

/* Remove bold from heading and keep lines tight */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    line-height: 1;
}

/* Stop long words breaking out of blocks */
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
dl,
dt {
    overflow-wrap: break-word;
    hyphens:       auto;
}

/* Make media default to a block and not break out of containers */
img,
picture,
video,
canvas,
svg {
    display:   block;
    max-width: 100%;
    height:    auto;
}

/* Remove default spacing on tables */
table {
    border-collapse: collapse;
    border-spacing:  0;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
    font: inherit;
}